.star-rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin-top: 2rem;
}

.star {
  color: gray;
  font-size: 3rem;
  cursor: pointer;
  margin: 0.25rem;
}

.active {
  color: rgb(212, 182, 9);
}
